body {
  font-family: Arial, sans-serif;
  text-align: center;
}

.calculator {
  width: 300px;
  margin: 20px;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid #2f00ff;
  border-radius: 5px;
  box-shadow: 0 0 5px #756cf7;
}

#display {
  width: 90%;
  padding: 5px;
  margin-bottom: 10px;
  font-size: 20px;
  text-align: right;
}

.buttons button, .functions button {
  width: 50px;
  height: 50px;
  margin: 5px;
  font-size: 18px;
  border: 1px solid #979697;
  border-radius: 5px;
  cursor: pointer;
  background-color: #f5f5f5;
}

.buttons button:hover, .functions button:hover {
  background-color: #e5e5e5;
}

.functions {
  margin-top: 10px;
}
